<ul class="link-grid">
  {% for link in include.links %}
    {% if link.page %}
      {% assign target = site.pages | where:"path", link.page | first %}
      {% assign targetUrl = target.url | relative_url %}
    {% endif %}
    {% if link.image %}
      {% capture imageStyle -%}
        background-image: url({{ link.image | relative_url }});
      {%- endcapture %}
    {% else %}
      {% assign imageStyle = '' %}
    {% endif %}
    <li style="{{ imageStyle }}">
      <a href="{{ link.external_url | default: targetUrl }}">
        <article>
          <h1>{{ link.title | default: target.title }}</h1>
          <p>{{ link.summary }}</p>
        </article>
      </a>
    </li>
  {% endfor %}
</ul>
