.site-nav {
  background-color: $pop-1-dark;
  path {
    fill: $white;
  }
}

body {
  background-color: $grey-light;
  > header {
    background-color: $grey-dark;
    a {
      color: $white;
    }
  }
  > footer {
    background-color: $pop-1-dark;
  }
}
