$page-width: 45rem;

%limit-width {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

body {
  > section[role="main"], > footer {
    @extend %limit-width;
    padding: 1rem;
  }
  > header {
    > *  {
      @extend %limit-width;
    }
    > h1 {
      padding: 1em 1rem;
    }
    > nav {
      @include large-screen() {
        padding: 0.2em 1rem;
      }
    }
  }
  > footer {
    display: flex;
    > * {
      padding-right: 1rem;
    }
  }
}
