$page-width: 45rem;

%limit-width {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

body {
  > section[role="main"], > footer {
    @extend %limit-width;
  }
  > header {
    > h1 {
      @extend %limit-width;
      padding: 1em 1rem;
    }
    > nav {
      @extend %limit-width;
    }
  }
  > section[role="main"] {
    padding: 1rem;
    * {
      padding-bottom: 0.5em;
    }
  }
}
