$grid-spacing: 1rem;

.link-grid {
  list-style: none;
  margin: 0;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  article {
    padding: $grid-spacing;
  }
  h1, p {
    padding-top: $grid-spacing;
    padding-bottom: $grid-spacing;
    padding-left: $grid-spacing;
    padding-right: $grid-spacing;
  }

  li {
    outline: 0.2rem solid transparent;
    margin-bottom: $grid-spacing;
    @include contrast-block();
    &[style*="background-image"] {
      background-position: center;
      background-size: cover;
      article {
        * {
          @include transparent-overlay();
        }
      }
    }
    &:hover {
      outline-color: $pop-1-dark;
    }
  }    
  @include large-screen() {
    display: grid;
    grid-gap: $grid-spacing;
    grid-auto-rows: minmax(15em, auto);
    grid-template-columns: repeat( auto-fit, minmax(17em, 1fr) );
    li {
      margin-bottom: 0;
    }  
  }
}
