@mixin contrast($contrast-background) {
  color: change-color(invert($contrast-background), $alpha: 1);
  background-color: $contrast-background;
}

$contrast-background: hsla(0, 0%, 0%, 40%);

.link_grid {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: minmax(15em, auto);
  grid-template-columns: repeat( auto-fit, minmax(17em, 1fr) );
  li {
    border: 0.5rem solid transparent;
    padding: 1rem;
    background-position: center;
    background-size: cover;
    h1, p {
      padding: 1rem;
    }
    &[style*="background-image"] {
      * {
        @include contrast(hsla(0, 0%, 0%, 40%));
      }
    }
    
    &:hover {
      border-color: $black;
    }
  }
}