@mixin large-screen() {
  @media only screen and (min-width: $on-laptop) {
    @content;
  }
}

@mixin contrast-block() {
  background-color: $pop-1-dark;
  color: $pop-1-light;
  a { 
    color: inherit;
  }
  &:hover {
    background-color: $pop-1-light;
    color: $pop-1-dark;
  }
}
