.site-nav {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 5px;

  .nav-trigger {
    display: none;
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    z-index: 2;
    padding: 0.5em;
    cursor: pointer;
    .menu-icon {
      line-height: 0;
      display: block;
      margin: 0;
      > svg {
        width: 1em;
      }
    }
  }

  input ~ .menu {
    clear: both;
    display: none;
  }

  input:checked ~ .menu {
    display: block;
  }

  @include large-screen() {
    position: initial;
    float: none;
    border: none;
    border-radius: 0;
  
    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .menu {
      display: flex;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0.5em 1rem;
    }
  }
}
