$system-fontstack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$open-sans: 'Open Sans', sans-serif;

html {
  font-family: $open-sans;
  font-size: 20px;
}

body {
  font-size: 1.2rem;
  @include large-screen() {
    font-size: 1rem;
  }
  > header {
    h1 { font-size: 2em; }
  }
}
